<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREADIT-ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/src/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="aside-wrapper">
    <ul class="menu-list">
        <li class="menu-items"><a href="/">스케줄 및 정보 조회</a></li>
        <li class="menu-items"><a href="/db/register">코치 등록</a></li>
    </ul>
</div>
<div class="wrapper">
    <h1 class="wrapper-title"><a href="/">CREADIT 정보조회</a></h1>
    <form class="form-wrapper" method="post" action="http://127.0.0.1:3000/db">
        <select name="choose" id="choose" class="form-items">
            <!--option value="">선택</option>-->
            <option value="고객">고객</option>
            <option value="코치">코치</option>
        </select>
        <input type="text" id="name" name="name" maxlength="8" size="10" placeholder="이름" class="form-items">
        <input type="email" id="mail" name="mail" size="30" placeholder="이메일" class="form-items">
        <input type="tel" id="tel" name="tel" size="15" placeholder="핸드폰 번호" class="form-items">
        <button type="button" value="검색" onclick="sendData()" class="form-items">검색</button>
        <button type="button" value="초기화" onclick="resetData()" class="form-items">초기화</button>
    </form>
    <div class="info-wrapper"></div>
</div>
</body>
<script>
    function resetData() { // 데이터 초기화.
        $('.form-items option:selected').val('');
        $('#name').val('');
        $('#mail').val('');
        $('#tel').val('');
        $('#name').focus();
        return;
    }

    function addListenerToItem() { // 이벤트 리스너 등록.
        const item_list = $('.form-items');
        for (let i = 1; i < item_list.length; ++i) {
            item_list[i].addEventListener('keypress', (e) => {
                if (e.keyCode === 13) sendData();
            });
        }
        return;
    }

    function addListenerToTable() {
        document.querySelectorAll('#user-table tr')
            .forEach(e => {
                e.addEventListener("click", function () {
                    const tr = $(this);
                    const td = tr.children();

                    const formData = {};
                    formData['id'] = td.eq(2).text();
                    // $(td).eq(0).setAttribute('pointer-events','none');
                    $.ajax({
                        cache: false,
                        url: "/db/coach/payments",
                        type: 'POST',
                        data: formData,
                        success: function (data) { // data 는 json & field;
                            console.log(data);
                            makeTable(data,false);

                            // addListenerToTable();
                        }, // success

                        error: function (xhr, status) {
                            alert(xhr + " : " + status);
                        }
                    });
                });
            });
    }

    function checkIsEmpty() { // 유효성 체크.
        const check = $('.form-items option:selected').val();
        const name = $('#name').val();
        const mail = $('#mail').val();
        const tel = $('#tel').val();
        const mail_regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        const tel_regex = /^\d{2,3}\d{3,4}\d{4}$/;

        if (name === "" && mail === "" && tel === "") {
            alert(`${check} 리스트를 출력합니다.`);
            return false;
        }
        if (name === "") {
            alert('이름을 입력해주세요');
            return true;
        }
        if (!mail_regex.test(mail) && mail !== '') {
            alert('이메일 양식이 맞지않습니다.');
            return true;
        }
        if (!tel_regex.test(tel) && tel !== '') {
            alert('번호 양식이 맞지않습니다.');
            return true;
        }
        return false;
    }

    function sendData() { // form 데이터 전송.
        const check = $('.form-items option:selected').val();
        if (checkIsEmpty()) return;
        if (check === "고객") {
            getMemberData();
        } else if (check === "코치") {
            getCoachData();
        }
        $('#name').focus();
        return false;
    }

    function getCoachData() {
        const formData = $(".form-wrapper").serialize();
        $.ajax({
            cache: false,
            url: "/db/coach",
            type: 'POST',
            data: formData,
            success: function (data) { // data 는 json & field;
                makeTable(data,true);
                // addListenerToTable();
            }, // success

            error: function (xhr, status) {
                alert(xhr + " : " + status);
            }
        });
    }

    function getMemberData() {
        const formData = $(".form-wrapper").serialize();
        $.ajax({
            cache: false,
            url: "/db/member",
            type: 'POST',
            data: formData,
            success: function (data) { // data 는 json & field;
                makeTable(data,false);
            }, // success

            error: function (xhr, status) {
                alert(xhr + " : " + status);
            }
        });
    }

    function makeTable(response,isfirstPage) {
        const data = response;
        if (data[0] === null || data[0] === undefined) {
            alert('조회 정보가 없거나 일시적 오류입니다.');
            return;
        }
        const keys = Object.keys(data[0]);

        const info_wrapper = $('.info-wrapper');
        const table = document.createElement('table');
        const tbody = document.createElement('tbody');
        const thead = document.createElement('thead');
        const tr = makeTrTag('user-table-tr');
        if(isfirstPage) {
            tr.appendChild(makeThTag('확인'));
            tr.appendChild(makeThTag('동작'));
        }

        table.setAttribute('id', 'user-table-origin');
        thead.setAttribute('id', 'user-table-head');
        tbody.setAttribute('id', 'user-table');

        // thead 작성
        thead.appendChild(tr);
        keys.forEach(e => {
            tr.append(makeThTag(e))
        });

        // tbody 작성
        tbody.appendChild(thead);
        data.forEach((e, idx) => {
            tbody.append(addRow(e, isfirstPage))
        });

        table.appendChild(thead);
        table.appendChild(tbody);
        info_wrapper.html(table);
        addClickListenerToModBtn();
    }

    function makeThTag(text = '', id = '') {
        const th = document.createElement('th');
        th.innerHTML = text;
        id === undefined ? true : th.setAttribute('id', id);
        return th;
    }

    function makeTrTag(id) {
        const tr = document.createElement('tr');
        id === undefined ? true : tr.setAttribute('id', id);
        return tr;
    }

    function makeTdTag(text = '', id = '') {
        const td = document.createElement('td');
        id === undefined ? true : td.setAttribute('id', id);
        td.innerHTML = text;
        return td;
    }

    function addRow(obj, isfirstPage) {
        // row 생성에 필요한 변수들 선언
        const tr = makeTrTag();
        // const input_td = makeTdTag();
        // const input = document.createElement('input');
        let button_td_mod;
        let button_td_check;
        if(isfirstPage){
            button_td_mod = makeTdTag();
            button_td_check = makeTdTag();

            const mod_button = document.createElement('button');
            const check_button = document.createElement('button');

            mod_button.setAttribute('class', 'modify-btn');
            check_button.setAttribute('class','check-btn');

            mod_button.innerHTML = "수정";
            check_button.innerHTML = "스케쥴";

            button_td_mod.appendChild(mod_button);
            button_td_check.appendChild(check_button);
            tr.appendChild(button_td_check);
            tr.appendChild(button_td_mod);
        }

        const elements = Object.keys(obj);



        // 속성값 설정
        // input.setAttribute('type','checkbox');
        // input.setAttribute('id',`delete-checkbox${idx}`);
        // input.setAttribute('class',`delete-checkbox`);
        // input.setAttribute('value','delete-checkbox');

        // append child
        // input_td.appendChild(input);
        // tr.appendChild(input_td);

        elements.forEach(e => {
            const td = makeTdTag();
            td.innerHTML = obj[e];
            tr.appendChild(td);
        });
        return tr;
    }

    function addClickListenerToModBtn() {
        $('.check-btn').click(function(){
            const tr = $(this).parents('tr');
            const td = tr.children();

            const formData = {};
            formData['id'] = td.eq(2).text();
            // $(td).eq(0).setAttribute('pointer-events','none');
            $.ajax({
                cache: false,
                url: "/db/coach/payments",
                type: 'POST',
                data: formData,
                success: function (data) { // data 는 json & field;
                    console.log(data);
                    makeTable(data,true);

                    // addListenerToTable();
                }, // success

                error: function (xhr, status) {
                    alert(xhr + " : " + status);
                }
            });
        });
        $('.modify-btn').click(function () {
            const text = $(this).text();
            const tds = $(this).parents('tr').find('td'); // td 태그

            if (text === "확인") {
                const formData = {};
                const th = $('thead tr').children();

                formData[$(th).eq(2).text()] = $(tds).eq(2).text(); // id
                formData[$(th).eq(3).text()] = $(tds).eq(3).find('input').val(); // name
                formData[$(th).eq(4).text()] = $(tds).eq(4).find('input').val(); // tel
                formData[$(th).eq(5).text()] = $(tds).eq(5).find('input').val(); // email
                console.log(formData);
                $.ajax({
                    cache: false,
                    url: "/db/coach/update",
                    type: 'POST',
                    data: formData,
                    success: function (data) { // data 는 json & field;
                        if (data['affectedRows'] == 0) {
                            alert('업데이트중 오류가 발생했습니다.');
                        } else {
                            alert('성공적으로 작업을 수행했습니다.');
                        }
                    }, // success

                    error: function (xhr, status) {
                        alert(xhr + " : " + status);
                    }
                });
            } else if (text === "수정") {
                const tmp = [];
                for(let i=3;i<6;++i) {
                    tmp.push($(tds).eq(i).text());
                }

                $(tds).eq(3).html(`<input class="editableColumnsStyle" size="10" type="text" placeholder="${tmp[0]}"/>`);
                $(tds).eq(4).html(`<input class="editableColumnsStyle" size="15" type="text" placeholder="${tmp[1]}"/>`);
                $(tds).eq(5).html(`<input class="editableColumnsStyle" size="15" type="text" placeholder="${tmp[2]}"/>`);

                $(this).text("확인");
            }
        });
    }

    function makeHtmlSyntax(response) { // 테이블 생성.
        const data = response;
        // data는 object 배열
        if (data[0] === null || data[0] === undefined) {
            throw new Error("something is going wrong!");
            return;
        }
        const keys = Object.keys(data[0]);
        const thead = '<table id="user-table-origin"><thead id="user-table-head"><tr id="user-table-tr"><th>체크</th>' + keys.map(e => {
            return '<th>' + e + '</th>';
        }).join('') + '</tr></thead>';

        return thead + '<tbody id="user-table">' + data.map((obj, idx) => { // elements 는 obj
                const elements = Object.keys(obj);
                return '<tr><td>' +
                    '<input type = "checkbox" id =' + `delete-checkbox${idx}` + ' class="delete-checkbox" value = "delete-check"/></td>' +
                    elements.map(e => {
                        return '<td>' + obj[e] + '</td>';
                    }).join('') + '</tr>';
            }).join('') +
            '</tbody></table>';/* +
            '<div class="btn-wrapper">' +
            '<button id="modify-btn" onclick="pop_mod_confirm()">수정</button><button id="delete-btn" onclick="pop_delete_confirm()">삭제</button>' +
            '</div>';*/
        // name, email
    }

    function getDeleteIndexList(check_boxes) { // 삭제할 index리스트 반환.
        const delete_list = [];
        for (let i = 0; i < check_boxes.length; ++i) {
            if (check_boxes[i].checked === true) {
                delete_list.push(i);
            }
        }
        return delete_list;
    }

    function pop_mod_confirm() {
        alert('코딩중');
    }

    function pop_delete_confirm() {
        const table = document.getElementById('user-table');
        const check_boxes = document.getElementsByClassName('delete-checkbox');
        const delete_index_list = getDeleteIndexList(check_boxes);
        const {children} = table;
        const delete_arr = [];
        const result = confirm(`총 ${delete_index_list.length}명의 정보를 정말 삭제하시겠습니까?`);

        if (result) { // 확인을 눌렀을 경우
            for (idx of delete_index_list) {
                delete_arr.push(makeDeleteObj(children[idx]));
                // table.deleteRow(idx); 여기가 주석처리 되고 delete_data내부에서 db 결과 projection
            }
            delete_data(delete_arr);
        } else { // 취소를 눌렀을 경우.
            alert('취소되었습니다.');
        }
    }

    function makeDeleteObj(data) { // 삭제할 element object로 리턴.
        const tr = document.getElementById('user-table-tr');
        const obj = new Map();
        for (let i = 1; i < tr.children.length; ++i) {
            obj.set(tr.children[i].textContent, data.children[i].textContent);
        }
        return obj;
    }

    function delete_data(delete_arr) { // db 접속해서 정보 업데이트.
        // 리스트 가져와서 목록 삭제함.
        console.log({delete_arr});
        sendData();
        alert('삭제되었습니다.');
    }

    addListenerToItem();
</script>
</html>