<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREADIT-ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/src/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="aside-wrapper">
    <ul class="menu-list">
        <li class="menu-items"><a href="/">스케줄 및 정보 조회</a></li>
        <li class="menu-items"><a href="/db/register">코치 등록</a></li>
    </ul>
</div>
<div class="wrapper">
    <h1 class="wrapper-title">CREADIT 정보조회</h1>
    <form class="form-wrapper" method="post" action="http://127.0.0.1:3000/db">
        <select name="job" class="form-items">
            <!--option value="">선택</option>-->
            <option value="고객">고객</option>
            <option value="코치">코치</option>
        </select>
        <input type="text" id="name" name="name" maxlength="8" size="10" placeholder="이름" class="form-items">
        <input type="email" id="mail" name="mail" size="30" placeholder="이메일" class="form-items">
        <input type="tel" id="tel" name="tel" size="15" placeholder="핸드폰 번호" class="form-items">
        <button type="button" value="검색" onclick="sendData()" class="form-items">검색</button>
        <button type="button" value="초기화" onclick="resetData()" class="form-items">초기화</button>
    </form>
    <div class="info-wrapper"></div>
</div>
</body>
<script>
    function resetData() {
        $('.form-items option:selected').val('');
        $('#name').val('');
        $('#mail').val('');
        $('#tel').val('');
        $('#name').focus();
        return;
    }

    function addListenerToItem() {
        const item_list = $('.form-items');
        for (let i = 1; i < item_list.length; ++i) {
            item_list[i].addEventListener('keypress', (e) => {
                if (e.keyCode === 13) sendData();
            });
        }
        return;
    }

    function checkIsEmpty() {
        const check = $('.form-items option:selected').val();
        const name = $('#name').val();
        const mail = $('#mail').val();
        const tel = $('#tel').val();
        const mail_regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        const tel_regex = /^\d{2,3}\d{3,4}\d{4}$/;

        if (check === "") {
            alert('고객/코치 를 선택해주세요');
            return true;
        }
        if (name === "") {
            alert('이름을 입력해주세요');
            return true;
        }
        if (!mail_regex.test(mail)) {
            alert('이메일 양식이 맞지않습니다.');
            return true;
        }
        if (!tel_regex.test(tel) && tel !== '') {
            alert('번호 양식이 맞지않습니다.');
            return true;
        }
        return false;
    }

    function sendData() {
        const formData = $(".form-wrapper").serialize();

        if (checkIsEmpty()) return;

        $.ajax({
            cache: false,
            url: "/db",
            type: 'POST',
            data: formData,
            success: function (data) { // data 는 json & field;
                const info_wrapper = $('.info-wrapper');
                // info_wrapper.innerHTML = makeHtmlSyntax(data);
                info_wrapper.html(makeHtmlSyntax(data));
            }, // success

            error: function (xhr, status) {
                alert(xhr + " : " + status);
            }
        });
        return false;
    }

    function makeHtmlSyntax(response) {
        const {data} = response;

        // data는 object 배열
        if (data[0] === null || data[0] === undefined) {
            throw new Error("something is going wrong!");
            return;
        }
        const keys = Object.keys(data[0]);
        const thead = '<table><thead id="user-table-head"><tr id="user-table-tr"><th>체크</th>' + keys.map(e => {
            return '<th>' + e + '</th>';
        }).join('') + '</tr></thead>';

        return thead + '<tbody id="user-table">' + data.map((obj, idx) => { // elements 는 obj
            const elements = Object.keys(obj);
            return '<tr><td>' +
                '<input type = "checkbox" id =' + `delete-checkbox${idx}` + ' class="delete-checkbox" value = "delete-check"/></td>' +
                elements.map(e => {
                    return '<td>' + obj[e] + '</td>';
                }).join('') + '</tr>';
        }).join('') + '</tbody></table><button id="delete-btn" onclick="popConfirm()">삭제</button>';
        // name, email
    }

    function getDeleteIndexList(check_boxes){
        const delete_list = [];
        for (let i = 0; i < check_boxes.length; ++i) {
            if (check_boxes[i].checked === true) {
                delete_list.push(i);
            }
        }
        return delete_list;
    }
    function popConfirm(){
        const table = document.getElementById('user-table');
        const check_boxes = document.getElementsByClassName('delete-checkbox');
        const delete_index_list = getDeleteIndexList(check_boxes);
        const { children } = table;
        const delete_arr = [];
        const result = confirm(`총 ${delete_index_list.length}명의 정보를 정말 삭제하시겠습니까?`);

        if (result) {
            for(idx of delete_index_list){
                delete_arr.push(makeDeleteObj(children[idx]));
                table.deleteRow(idx);
            }
            delete_data(delete_arr);
        } else {
            alert('취소되었습니다.');
        }
    }
    function makeDeleteObj(data){ // 삭제할 element map으로 반
        const tr = document.getElementById('user-table-tr');
        const obj = new Map();
        for(let i=1;i<tr.children.length;++i){
            obj.set(tr.children[i].textContent,data.children[i].textContent);
        }
        return obj;
    }
    function delete_data(delete_arr) {
        // 리스트 가져와서 목록 삭제환
        console.log({delete_arr});
        alert('삭제되었습니다.');
    }

    addListenerToItem();
</script>
</html>